{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1 class="mb-2">Información relevante</h1>
<p>&nbsp La guitarra es un instrumento musical de la familia de los cordófonos, es decir los instrumentos que producen su sonido al hacer vibrar las cuerdas. Es un instrumento de cuerda pulsada, compuesto de una caja de resonancia, un mástil sobre el que va adosado el diapasón o trastero —generalmente con un agujero acústico en el centro de la tapa (boca)— y seis cuerdas. Sobre el diapasón van incrustados los trastes, que permiten dividir el continuo de sonidos en las 12 notas del sistema tonal, haciendo posible la interpretación de las mismas con mayor facilidad.
 La guitarra es el fruto de siglos de evolución de estos cordófonos. Los orígenes del instrumento proceden de civilizaciones de Asia menor2​ (sumerios, acadios, asirios...) de. 2500 a. C. Desde entonces los cordófonos se han desarrollado de muy diversas maneras a lo largo del tiempo con diferentes números de cuerdas y formas. Algunos instrumentos de la familia son el cuatro, el ukelele, el requinto, el charango y distintos tipos de guitarrón, como el guitarrón mexicano, de uso frecuente por los mariachis.</p>

    

{% endblock %}